{
  "plugins": [
    "./node_modules/prettier-plugin-organize-imports",
    "./node_modules/prettier-plugin-jsdoc"
  ],
  "arrowParens": "always",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5"
}
