.header {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.headerContent {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}
.lead {
  font-size: 1.45rem;
  font-weight: 600;
}
.scrollX {
  overflow-x: auto;
}
@media (max-width: 1200px) {
  .header {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .header pre {
    font-size: 11px;
  }
}