.heroBanner {
  background-color: rgb(161, 114, 248, 0.15);
  color: var(--ifm-heading-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.headerContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
}
.lead {
  font-weight: 600;
  font-size: 1.45rem;
}
.scrollX {
  overflow-x: auto;
}
@media (max-width: 1200px) {
  .header {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .header pre {
    font-size: 11px;
  }
}
